:root {
  --font: 'Alegreya Sans', sans-serif;
  --color-fg: #ffffff;
  --color-fg-opacity05: rgba(255, 255, 255, 0.5);
  --color-fg-opacity09: rgba(255, 255, 255, 0.9);
  --color-bg: #253334;
  --color-placeholder: #bec2c2;
  --color-border: #3a5051;
  --color-text: #000000;
  --color-card-bg: #f7f3f0;
  --color-bg-hover: #3c5153;
  --color-btn: #a2cdc1;
  --color-btn-hover: #7c9a92;
  --icon-bg: #69b09c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-fg);
  background: var(--color-bg);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
